html {
	box-sizing: border-box;
	width: 100%;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@font-face {
	font-family: grotesque;
	src: url(/assets/webfonts/BasementGrotesque-Black_v1.202.otf);
}

@font-face {
	font-family: aileron;
	src: url(/assets/webfonts/Aileron-Bold.otf);
}

:root {
	--dark-purple: #1B1D36;
	--white: #E1E7EC;
	--pink: #FCA6D1;
	--light-blue: #96D2E7;
	--light-purple: #26294dff;
	--font-mono: 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
	--dark-slate: #495670;
	--slate: #8892b0;
	--light-slate: #a8b2d1;
	--lightest-slate: #ccd6f6;
	--green: #64ffda;
	--blue: #57cbff;
	--lightest-navy: #233554;
	--light-navy: #112240;
	--navy-shadow: rgba(2, 12, 27, 0.7);
	--font-sans: 'Inter', 'PT Sans', sans-serif;
	--fz-xxs: 12px;
	--fz-xs: 13px;
	--fz-sm: 14px;
	--fz-md: 16px;
	--fz-lg: 18px;
	--fz-xl: 20px;
	--fz-xxl: 22px;
	--fz-heading: 32px;
	--border-radius: 4px;
	--nav-height: 100px;
	--nav-scroll-height: 70px;
	--tab-height: 42px;
	--tab-width: 120px;
	--easing: cubic-bezier(0.645,0.045,0.355,1);
	--transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
	--hamburger-width: 30px;
	--ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
	--ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
	--ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
	--ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}

#root {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 100%;
}

.cZslOS {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body {
	background-color: var(--dark-purple);
	font-family: aileron;
	font-size: var(--fz-xl);
	color: var(--slate);
	-webkit-font-smoothing: antialiased; 
	margin: 0;
}

main {
	margin: 0px auto;
	width: 100%;
	max-width: 1600px;
	min-height: 100vh;
	padding: 0px 150px;
	counter-reset: section;
}

img {
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
}

/* scroll related stuff */

.scroll-down header {
	transform: translate3d(0, -100%, 0);
}

.scroll-up header {
	backdrop-filter: blur(10px);
	box-shadow: 0 10px 30px -10px var(--navy-shadow);
}

/* navigation */

.nav-styled {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	position: fixed;
	background-color: var(--dark-purple);
	/* backdrop-filter: blur(10px); */
	width: 100%;
	height: var(--nav-height);
	z-index: 11;
	transition: var(--transition);
}

nav, .nav-links {
	display: flex;
	font-family: monospace;
}

nav {
	align-items: center;
	justify-content: space-around;
	height: 4vh;
	width: 100%;
}

.logo {
	color: var(--pink);
}

.nav-links {
	gap: 2rem;
	list-style: none;
	font-size: large;
	counter-reset: num;
}

.nav-links li{
	counter-increment: num;
}

.nav-links li::before {
	content: "0" counter(num) ".";
	color: var(--pink);
	margin-right: 6px;
}

a {
	display: inline-block;
	color: #96D1E5;
	text-decoration: none;
}

a:hover {
	color: #f9a4ce;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 10px;
	font-weight: 500;
	font-family: grotesque;
	color: var(--white);
	line-height: 1.1;
}

/* Hamburger Menu */

#hamburger-nav {
	display: none;
}

.hamburger-menu {
	position: relative;
	display: inline-block;
}

.hamburger-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px;
	width: 30px;
	cursor: pointer;
}

.hamburger-icon span {
	width: 100%;
	height: 2px;
	background-color: var(--pink);
	transition: all 0.3 ease-in-out;
}

.hamburger-menu-links {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: var(--light-purple);
	width: fit-content;
	max-height: 0;
	overflow: hidden;
	transition: all 0.3 ease-in-out;
}

.hamburger-menu-links a {
	display: block;
	padding: 10px;
	text-align: center;
	font-size: 1.5rem;
	color: #96D1E5;
	font-size: var(--fz-lg);
	text-decoration: none;
	transition: all 0.3 ease-in-out;
}

.hamburger-menu-links li {
	list-style: none;
}

.hamburger-menu-links.open {
	max-height: 300px;
}

.hamburger-icon.open span:first-child {
	transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
	opacity: 0;
}

.hamburger-icon.open span:last-child {
	transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
	transform: none;
}

.hamburger-icon span:first-child {
	opacity: 1;
}

.hamburger-icon span:first-child {
	transform: none;
}

.numbered-heading {
	display: flex;
	align-items: center;
	align-items: center;
	position: relative;
	margin: 10px 0 40px;
	width: 100%;
	font-size: clamp(26px, 5vw, var(--fz-heading));
	white-space: nowrap;

	&:before {
		position: relative;
		bottom: 2px;
		counter-increment: section;
		content: '0' counter(section) '.';
		margin-right: 10px;
		color: var(--pink);
		font-family: var(--font-mono);
		font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
		font-weight: 400;

		@media (max-width: 480px) {
			margin-bottom: -3px;
			margin-right: 5px;
		}
	}

	&:after {
		content: '';
		display: block;
		position: relative;
		/* top: -5px; */
		width: 300px;
		height: 1px;
		margin-left: 20px;
		background-color: var(--lightest-navy);

		@media (max-width: 1080px) {
			width: 200px;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
		@media (max-width: 600px) {
			margin-left: 10px;
		}
	}
}

/* side elements */

.side-styled {
	width: 40px;
	position: fixed;
	bottom: 0px;
	left: auto;
	right: 40px;
	z-index: 10;
	color: var(--light-slate);
}

.side-element {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
}

.side-styled-left {
	width: 40px;
	position: fixed;
	bottom: 0px;
	left: 40px;
	right: auto;
	z-index: 10;
	color: var(--light-slate);
}

.side-element-left {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
}

.side-element a {
	margin: 20px auto;
	padding: 10px;
	font-family: var(--font-mono);
	font-size: var(--fz-xxs);
	line-height: var(--fz-lg);
	letter-spacing: 0.1em;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}

.side-element-left p {
	margin: 20px auto;
	padding: 10px;
	font-family: var(--font-mono);
	font-size: var(--fz-xxs);
	line-height: var(--fz-lg);
	letter-spacing: 0.1em;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}

.side-element::after {
	content: "";
	display: block;
	width: 1px;
	height: 90px;
	margin: 0px auto;
	background-color: var(--light-slate);
}

.side-element-left::after {
	content: "";
	display: block;
	width: 1px;
	height: 90px;
	margin: 0px auto;
	background-color: var(--light-slate);
}

/* Sections */

section {
	margin: 0px auto;
	padding: 100px 0px;
	max-width: 1000px;
}

.hero-section{
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	align-items: flex-start;
	min-height: 100vh;
	padding: 0px;
}

.hero-section h1 {
	margin: 0px 0px 10px 4px;
	color: var(--pink);
	font-family: var(--font-mono);
	font-size: clamp(var(--fz-sm),5vm,var(--fz-md));
	font-weight: 400;
}

.big-heading {
	margin: 0px;
	font-size: clamp(40px, 8vw, 80px);
}

.hero-section h2 {
	font-family: grotesque;
	color: var(--white);
	font-weight: 600;
}

.hero-section h3 {
	font-family: grotesque;
	margin: 0px;
	color: var(--slate);
	font-weight: 600;
	font-size: clamp(30px, 6vw, 70px);
}

.hero-section p {
	font-family: aileron;
	color: var(--slate);
	margin: 20px 0px 0px;
	max-width: 640px;
}

.numbered-heading {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
	margin: 10px 0px 40px;
	width: 100%;
	font-size: clamp(26px,5vw,var(--fz-heading));
	white-space: nowrap;
}

.inner {
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 50px;
}


/* TODO: fix overlay for theme */
/* .about__pic::after {
	content: '';
	background-color: #fca6d193;
	border-radius: 1.2rem;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 24px;
	transition: var(--transition);
}

.about__pic:hover::after {
	background-color: #fca6d100;
} */

.about__pic img {
	position: relative;
	border-radius: 1.2rem;
	aspect-ratio: 1 / 1;
	flex-grow: 1;
	align-self: center;
}

.resume-link {
	color: var(--pink);
	background-color: transparent;
	border: 1px solid var(--pink);
	border-radius: var(--border-radius);
	padding: 1.25rem 1.75rem;
	font-size: var(--fz-sm);
	font-family: var(--font-mono);
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
	transition: var(--transition);
	margin-top: 40px;
}

.resume-link:hover {
	background-color: #fca6d198;
	color: var(--white);
	transform: translateY(-10px);
}

.about__text {

}

.about__pic {
	align-items: flex-start;
	position: relative;
	max-width: 300px;
	display: flex;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
}

.tabs__label {
	font-family: var(--font-mono);
	font-size: var(--fz-lg);
	padding: 10px 16px;
	cursor: pointer;
}

.tabs__radio {
	display: none;
}

.tabcontent {
	order: 1;
	width: 100%;
	display: none;
}

.tabs__radio:checked+.tabs__label {
	font-weight: bold;
	color: var(--pink);
	border-bottom: 2px solid var(--pink);
	background-color: var(--light-purple);
}

.tabs__radio:checked+.tabs__label+.tabcontent {
	display: block;
	margin-top: 20px;
}

.tabcontent h3 {
	font-size: var(--fz-xxl);
	font-family: aileron;
}

.tabcontent .period {
	margin-bottom: 25px;
	color: var(--pink);
	font-family: var(--font-mono);
	font-size: var(--fz-md);
}

.tabcontent ul li {
	margin-bottom: 10px;
}

.tabcontent ul {
	list-style: none;
}

.tabcontent ul li::before {
	content: "✧";
	color: var(--pink);
	margin-right: 20px;
}

/* PROJECT */

.project-image {
	position: relative;
}

.project-image .top-image {
	position: absolute;
	left: 0px;
}

.projects-list .project-template:hover .top-image {
	opacity: 0;
}

.projects-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.project-template {
	position: relative;
	margin-bottom: 100px;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(12, 1fr);
	-webkit-box-align: center;
	align-items: center; 
}

.project-template .project-title {
	margin: 0px 0px 20px;
	color: var(--lightest-slate);
	font-size: clamp(24px, 5vw, 28px);
}

.project-template:nth-of-type(2n+1) .project-content {
	grid-column: 7 / -1;
	text-align: right;
}

.project-template .project-content {
	position: relative;
	grid-area: 1 / 1 / -1 / 7;
}

.project-template .project-description {
	box-shadow: 0 10px 30px -15px var(--navy-shadow);
	transition: var(--transition);
	position: relative;
	z-index: 2;
	padding: 25px;
	border-radius: var(--border-radius);
	background-color: var(--light-purple);
	color: var(--light-slate);
	font-size: var(--fz-lg);
}

.project-template:nth-of-type(2n+1) .project-tech-list {
	-webkit-box-pack: end;
	justify-content: flex-end;
}

.project-template .project-tech-list {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;
	margin: 25px 0px 10px;
	padding: 0px;
	list-style: none;
}

.project-template:nth-of-type(2n+1) .project-tech-list li {
	margin: 0px 0px 5px 20px;
}

.project-template .project-tech-list li {
	margin: 0px 20px 5px 0px;
	color: var(--light-slate);
	font-family: var(--font-mono);
	font-size: var(--fz-xs);
	white-space: nowrap;
}

.project-template:nth-of-type(2n+1) .project-image {
	grid-column: 1 / 8;
}

.project-template .project-image {
	box-shadow: 0 10px 30px -15px var(--navy-shadow);
	transition: var(--transition);
	grid-area: 1 / 6 / -1 / -1;
	position: relative;
	z-index: -1;
}

.project-template .project-image img {
	width: 100%;
	height: 100%;
	background-color: var(--green);
	border-radius: var(--border-radius);
	vertical-align: middle;
}

.projects-list img {
	position: relative;
	z-index: 1;
}

.game-jam-project {
	text-align: center;
}

/* CONTACT */

.contact-section {
	text-align: center;
}

/* .contact-section .contact-title {
	display: block;
	margin-bottom: 40px;
	color: var(--green);
	font-family: var(--font-mono);
	font-size: var(--fz-md);
	font-weight: 400;
} */

.contact-section .contact-description {
	margin: auto 215px;
}

.contact-links {
	display: flex;
	flex-direction: row;
	gap: 5em;
	height: 80px;
	justify-content: center;
	margin-top: 40px;
}

.contact-links a {
	display: flex;
}

.contact-links a:hover {
	transition: var(--transition);
	transform: translateY(-10px);
}

.contact-links a img {
	aspect-ratio: 1 / 1;
}

.contact-links div {
  display: flex;
  width: 3em;
  background: none;
  background-size: 100%;
	background-repeat: no-repeat;
}

#png-one {
  background-image: url(/images/email-icon.png);
}

#png-one:hover {
	background-image: url(/images/email-icon-hover.png);
}

#png-two {
  background-image: url(/images/linkedin-icon.png);
}

#png-two:hover {
	background-image: url(/images/linkedin-icon-hover.png);
}

/* FOOTER */

footer {
	height: 4vh;
	margin: 0px 1rem;
	padding-bottom: 10px;
}

footer p {
	text-align: center;
	font-family: monospace;
	font-size: var(--fz-xs);
}























