@media screen and (max-width: 1200px) { /* for styling different resolution screens */
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex; 
    padding-top: 40px;
    gap: 150px;
    z-index: 12;
  }

  .contact-section .contact-description {
    margin: 0;
  }

  #project .numbered-heading {
    white-space: inherit;
  }

  #contact .numbered-heading {
    white-space: inherit;
  }

  .tabs__label {
    font-size: var(--fz-xs);
  }

  .tabcontent h3 {
    font-size: var(--fz-lg);
  }

  .project-template:nth-of-type(2n+1) .project-content {
    grid-column: 1 / -1;
    text-align: left;
  }

  .project-template .project-content {
    grid-column: 1 / -1;
    text-align: left;
  }

  .project-template:nth-of-type(2n+1) .project-tech-list {
    justify-content: flex-start;
  }

  .project-template .project-description {
    box-shadow: none; 
    background-color: transparent;
  }

  .project-template:nth-of-type(2n+1) .project-image {
    grid-column: 1 / -1;
    filter: grayscale(60%) contrast(1) brightness(50%);
  }

  .project-template .project-image {
    grid-column: 1 / -1;
    filter: grayscale(60%) contrast(1) brightness(50%);
  }

  .side-styled {
    display: none;
  }

  .side-styled-left {
    display: none;
  }
}

@media (max-width: 1600px) {
  .fillHeight {
    padding: 0px 150px;
  }
}

@media (max-width: 1200px) {
  .fillHeight {
    padding: 0px 150px;
  }
}

@media (max-width: 600px) {
  .fillHeight {
    padding: 0px 30px;
  }
}

@media (max-width: 480px) {
  .fillHeight {
    padding: 0px 30px;
  }

  body {
    font-size: var(--fz-lg);
  }
}

@media (max-width: 768px) {
  #about .inner {
    display: block;
  }
}